<div class="list-group">
    <div class="list-group-item active">
        MENU
    </div>
    <a class="list-group-item" href="#/dashboard">Dashboard</a>
    <a class="list-group-item" href="#/user">User</a>
    <a class="list-group-item" href="#/deals">Deals</a>
    <a class="list-group-item" href="#/design">Design</a>
</div>
<!--
<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active">
      <a href="#/dashboard">Dashboard</a>
  </li>
  <li role="presentation">
      <a href="#/user">User</a>
  </li>
  <li role="presentation">
      <a href="#/deals">Deals</a>
  </li>
  <li role="presentation">
      <a href="#/design">Design</a>
  </li>
</ul>-->